/node_modules

/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
.editorconfig
*.phpstorm.meta.php
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
horizon.log
alaatv.error.log
worker.log
.env
# Rocketeer PHP task runner and deployment package. https://github.com/rocketeers/rocketeer
.rocketeer/

!storage/
storage/*
!storage/framework/
storage/framework/*
!storage/framework/views/
!storage/purify/
storage/purify/*
!storage/purify/.gitkeep

vendor/
temp_vendor/
!resources/views/vendor
laradock-alaatv
laradock-alaatv/
.phpunit.result.cache
.rnd
resources/theme/angular/dist/demo/default/src/app/content/pages/snippets/errors/
resources/theme/classic/demos/default/assets/demo/default/
resources/theme/default/src/js/demo/demo11/custom/crud/datatables/advanced/
resources/theme/default/src/js/demo/demo11/custom/crud/datatables/data-sources/
resources/theme/default/src/js/demo/demo11/custom/crud/datatables/extensions/
mix-manifest.json

